<div class="container info-page">
    <div class="text-box">
        <p class="text">
            Nào nào, chờ đợi điều gì nữa? Tiền của bạn là của bạn, và tiền của mình là của mình. 😁
        </p>
        <p class="text">
            Nào nào, chờ đợi điều gì nữa? Tiền của bạn là của bạn, và tiền của mình là của mình. 😁
        </p>
    </div>
</div>
<div class="container container-board">
    @defer () {
    <a class="item momo"
       href="https://me.momo.vn/tratienchodangmixx">
        <img src="assets/qr-momo.jpg"
             width="100%"
             height="auto">
    </a>
    <a class="item bank tp-bank">
        <img src="assets/qr-tpbank.jpg"
             width="100%"
             height="auto">
    </a>
    }@placeholder (minimum 2000ms){
    <div class="item">

    </div>
    <div class="item">

    </div>
    }

    <div class="text-overlay">
        Bạn chuyển qua cái nào cũng được. Đừng thiếu nhé, nhưng có thể tip thềm tùy tâm 😂.
        <br />
        Chú ý tên người nhận là <b>Đặng Quốc Toàn</b> nhé.
    </div>
</div>
